<html>
<body>
<div class="container">
	<h1>佐々木梓の台詞っぽく変換するツール</h1>
	<p>「[azusa:首都圏方言を入れる]」のように "[azusa:]"でアノテーションを付けた部分だけ、首都圏方言から佐々木梓っぽい喋り方に変換するツールです</p>
	<textarea rows="20" cols="150" name="original" id="originalTextArea" >
「[azusa:久美子さ、なんで南宇治高校に行かなかったの？]」
「逆に、なんで梓は私が南宇治に行くと思ったの？」
「[azusa:だって、北中の子らはだいたい南宇治に進学したじゃん。わたし、てっきり久美子も南宇治に行ったんだと思ってた]」
	</textarea>
	<button id="convert-button">変換する</button>
	<textarea rows="20" cols="150" name="original" id="convertedTextArea" ></textarea>
	<div>
		developed by <a href="https://twitter.com/alitaso347">@alitaso347</a>
	</div>
</div>

<script type="text/javascript">
	async function convertText() {
        const originalText = document.getElementById("originalTextArea").value
		let result = 'test'

		await fetch("/convert", {
		    method: 'POST',
			headers: {'content-type': 'application/json'},
			body: JSON.stringify({
				"content": originalText
			})
		}).then(function (response) {
			return response.json()
        }).then(function (json) {
			console.log(json)
			result = json.message
        })

		document.getElementById("convertedTextArea").value = result
    }

    let button = document.getElementById("convert-button")
    button.addEventListener("click", convertText)
</script>
</body>
</html>